.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    flex-flow: column nowrap;
}

body {
    background-color: #2a2b33db;
    margin: 0; 
}

h1, h2 {
    color: rgb(19, 19, 20);
    transition: color 0.3s ease;
    text-align: center; 
}
h1:hover, h2:hover{
    color: white;
    transform: translateY(-3px);
}
